<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <form action="/Chats/<%=id%>?_method=put" method="post">
      <label for="upd">Enter Your Updated Msg!</label>
      <input type="text" name="UpdatedMsg" id="upd" />
      <button>Submit!</button>
    </form>
  </body>
</html>
