<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create A New Chat!</title>
  </head>
  <body>
    <form action="http://localhost:3000/Chats" method="post">
      <label for="msgFrom">Msg From:</label>
      <input type="text" id="msgFrom" name="from" />

      <label for="msgTo">Msg To:</label>
      <input type="text" id="msgTo" name="to" />

      <label for="message">Message:</label>
      <input type="text" id="message" name="msg2" />

      <button type="submit">Submit!</button>
    </form>
  </body>
</html>
