<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create An Post</title>
  </head>
  <body>
    <form action="http://localhost:3000/Posts/New" method="post">
      <input type="text" placeholder="username" name="username" />
      <input type="text" placeholder="content" name="content" />

      <button>Create An Post</button>
    </form>
  </body>
</html>
