<% include("includes / head.ejs"); %>
  <body>
    <!-- 1)Conditional Statements In An EJS -->
    <!-- <% if (Val == 6) { %>
  <h1>Awesome! Your Score is <%= Val %></h1>
<% } else if (Val >= 2 && Val <= 5) { %>
  <h1>Fabulous! Try To Get <%= 6 %></h1>
<% } else { %>
  <h1>Score Was Very Low! Try To Improve It!</h1>
<% } %> -->
      
<!-- 2)Loops in An Ejs -->
 <%  for(let i=1;i<=10;i++){ %>
      <h1>Value = <%= 2*i %></h1>
<% } %>

  </body>
</html>
