<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="http://localhost:3000/user/<%= id %>/edit?_method=PATCH"
      method="POST"
    >
      <input
        name="username"
        type="text"
        placeholder="Enter your username"
        value=""
      />
      <input
        name="password"
        type="password"
        placeholder="Enter your password"
      />

      <button>Save Changes!</button>
    </form>
  </body>
</html>
